@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Niramit:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://images8.alphacoders.com/133/thumbbig-1337140.webp");
    background-size: cover;
    background-position: center;
}

/* Homepage styles */
.name,
.name2,
.name3 {
    width: 100%;
    color: #fff;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.name h1,
.name2 h2,
.name3 h3 {
    font-size: 30px;
}

.image-container,
.image-container2,
.image-container3 {
    width: 100%;
    text-align: center;
}

.footer p {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: 'Cinzel', serif;
}

/* Header styles */
.header {
    font-size: 35px;
    color: #fff;
    font-family: 'Cinzel', serif; 
    margin: .5rem;
}

/* Navbar styles */
.navbar {
    width: 86%;
    margin: 35px;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links ul li {
    list-style: none;
    margin: 0 20px;
    position: relative;
}

.navbar-links ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

.navbar-links ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar-links ul li:hover::after {
    width: 100%;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;

        
    }
    .navbar-links ul li::after {
        display: none;
    }
}
